@font-face{
 font-family:"Roboto";
 src: url("../fonts/Roboto.tff");
}
@font-face{
 font-family:"Lato";
 src: url("../fonts/Lato-Regular.ttf");
}
@font-face{
 font-family:"Merriweather";
  src: url("../fonts/Merriweather-Bold.ttf");
}

body{
margin: 0px;
padding: 0px;
}
#title {
margin:0px;
margin-bottom:20px;
font-family:'Roboto';
font-size:100px;
color:#ffbb00;
}
#citat {
align:center;
margin:0px;
padding:0px;
font-family:'Roboto';
font-size:25px;
color:white;
line-height:35px;
background:#242424;
width:100%;
position:sticky;
bottom:0px;
}

.heading{
color:#ffbb00;
font-size:50px;
font-family:'Merriweather';
}

.description{
font-family:'Lato';
color:black;
font-size:40px;
}

.descImage{
float:right;
}

.descContainer{
overflow:auto;
}

