#citat {
align:center;
margin:0px;
padding:0px;
font-family:'Roboto';
font-size:25px;
color:white;
line-height:35px;
background:#242424;
width:100%;
position:sticky;
bottom:0px;
}

.descImage{
float:right;
}

.descContainer{
overflow:auto;
}

